body{
    background-color: gray;
}
.index{
    margin: auto;
    width:920px;
    background-color: white;
    box-shadow:10px 10px 15px black;
    margin-top:10px;
}
h1{
    color:orange;
    padding-top:30px;
    text-align:center;
}
form{
    padding-left: 100px;
    line-height:180%;
}
input{
    border-color: black;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:2px;
    border-left-width:0px;
}
#btn{
    background-color: #FFA500;
    color:white;
    padding:5px 10px;
    margin-left:320px;
    margin-top:16px;
    margin-bottom: 20px;
}