<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/ckeditor5/37.1.0/ckeditor.min.js"></script>
  <script>
    window.onload = function(){
        ClassicEditor.create(document.querySelector("#editor1"))
        ClassicEditor.create(document.querySelector("#editor2"))
        ClassicEditor.create(document.querySelector("#editor3"))
        ClassicEditor.create(document.querySelector("#editor4"))
    }
</script>
</head>
<body>
<h1>demo1</h1>
<textarea  id="editor1"></textarea>
<h1>demo2</h1>
<textarea  id="editor2"></textarea>
<h1>demo3</h1>
<textarea  id="editor3"></textarea>
<h1>demo4</h1>
<textarea  id="editor4"></textarea>
</body>
</html>