<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/wen.css">
</head>
<body>
<form method="post" action="URL">
				<ol>
					<li>您的教育程度是？</li>
					<label><input type="radio" name="education" value="1" required />&nbsp;&nbsp;高中&nbsp;&nbsp; </label>
					<label><input type="radio" name="education" value="2" />&nbsp;&nbsp;大专&nbsp;&nbsp; </label>
					<label><input type="radio" name="education" value="3" />&nbsp;&nbsp;本科&nbsp;&nbsp; </label>
					<label><input type="radio" name="education" value="4" />&nbsp;&nbsp;硕士研究生&nbsp;&nbsp; </label>
					<label><input type="radio" name="education" value="5" />&nbsp;&nbsp;博士及以上 </label>
					<li>您的年龄段是？</li>
					<label><input type="radio" name="age" value="1" required />&nbsp;&nbsp;18岁以下&nbsp;&nbsp; </label>
					<label><input type="radio" name="age" value="2" />&nbsp;&nbsp;18-25岁&nbsp;&nbsp; </label>
					<label><input type="radio" name="age" value="3" />&nbsp;&nbsp;26-30岁&nbsp;&nbsp; </label>
					<label><input type="radio" name="age" value="4" />&nbsp;&nbsp;31-35岁&nbsp;&nbsp; </label>
					<label><input type="radio" name="age" value="5" />&nbsp;&nbsp;35岁以上 </label>
					<li>您是否使用过手机移动支付业务？</li>
					<label><input type="radio" name="use" value="1" required />&nbsp;&nbsp;从未听说过&nbsp;&nbsp; </label>
					<label><input type="radio" name="use" value="2" />&nbsp;&nbsp;听说过，但未使用过&nbsp;&nbsp; </label>
					<label><input type="radio" name="use" value="3" />&nbsp;&nbsp;偶尔使用&nbsp;&nbsp; </label>
					<label><input type="radio" name="use" value="4" />&nbsp;&nbsp;经常使用&nbsp;&nbsp; </label>
					<li>您看中以下哪些支付功能？（可多选）</li>
					<label><input type="checkbox" name="how" value="1" />&nbsp;&nbsp;话费/游戏币充值</label><br />
					<label><input type="checkbox" name="how" value="2" />&nbsp;&nbsp;刷手机加油</label><br />
					<label><input type="checkbox" name="how" value="3" />&nbsp;&nbsp;刷手机购物</label><br />
					<label><input type="checkbox" name="how" value="4" />&nbsp;&nbsp;刷手机乘坐公交/轻轨/地铁</label><br />
					<label><input type="checkbox" name="how" value="5" />&nbsp;&nbsp;水电煤/有线电视/宽带远程缴费</label><br />
					<label><input type="checkbox" name="how" value="6" />&nbsp;&nbsp;享受联盟商户的优惠折扣</label><br />
					<label><input type="checkbox" name="how" value="7" />&nbsp;&nbsp;以上均不感兴趣</label><br />
				</ol>
				您的姓名&nbsp;&nbsp;<input type="text" name="username" required />
				&nbsp;&nbsp;您的职业&nbsp;&nbsp;<input type="text" name="occupation" required />
				&nbsp;&nbsp;联系电话&nbsp;&nbsp;<input type="tel" name="tele" required />
				<br />
				<button id="btn" type="submit">提交问卷</button>

			</form>
</body>
</html>